<!--<p style="color: orangered"><%= flash[:error]%></p>-->
<!---->
<!--<p>Price: <br/><%= f.text_field :price%></p>-->
<!--<p>Name: <br/><%= f.text_field :name%></p>-->
<!--<p>Description: <br/><%= f.text_area :descriptions%></p>-->
<!--<p>Weight: <br/><%= f.text_field :weight%></p>-->