<h1>Edit item</h1>

<div class = "my_input_view">

<%= simple_form_for @item do |f| %>

    <p>Price: <br/><%= f.input :price %></p>
    <p><br/><%= f.association :category, value_method: :id, label_method: :category_name, prompt: "Choose a category..."%></p>
    <p>Name: <br/><%= f.input :name %></p>
    <p>Description: <br/><%= f.input :descriptions %></p>
    <p>Weight: <br/><%= f.input :weight %></p>

    <p><%= f.submit "Save Item" %></p>

<%end%>
</div>