<h1>Edit item</h1>

<div class = "my_input_view">

<%= simple_form_for @item do |f| %>

    <p><br/><%= f.input :price, as: :string %></p>
    <p><br/><%= f.association :category, value_method: :id, label_method: :category_name, prompt: "Choose a category..."%></p>
    <p><br/><%= f.input :name %></p>
    <p><br/><%= f.input :descriptions, as: :text%></p>
    <p><br/><%= f.input :weight, as: :string %></p>
    <p>
    <%= f.file_field :avatar%>
    </p>
    <p><br/><%= f.input :recommended_item, as: :integer %></p>
    <p><%= f.submit "Save Item" %></p>

<%end%>
</div>