<h1>Items in the store:</h1>


<% if @items.empty? %>
    <b>No items in store!!!!</b>
<%else%>
    <div class="panel panel-default">
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <% if current_user.try(:admin?)%>
        <th></th>
        <th></th>
        <th></th>
        <% end %>
        <th></th>
      </tr>

      <% @items.each do |i| %>
          <tr>
            <td></td>
            <td><%= link_to i.name, item_path(i) %>
              <p><%=image_tag(i.avatar_url(:thumb)).to_s%></p>
              <p><%= button_to "Buy it!", new_category_url,  method: :get %></p>
            </td>
            <td><%= i.price %>  grn.</td>
            <% if current_user.try(:admin?)%>
            <td><%= i.created_at %> </td>
            <% end %>
            <% if current_user.try(:admin?)%>
                <td><%=link_to "Edit", edit_item_path(i)%></td>
                <td><%=link_to "Delete", item_path(i), method: :delete, data: { confirm: "Are you sure?"} %></td>
            <% end %>
            <td>Rating:<%= i.votes_count %>, <%= link_to " + " , upvote_item_path(i)%></td>
          </tr>
          <%end%>
    </table>
    </div>
<%end%>