<h1><%= @item.name %></h1>

<ul>
  <div>
  <li><%= @item.price %>grn.</li>
  <li><%= urls_to_links(urls_to_images(@item.descriptions))%></li>
  <li><%= @item.weight %>kg.</li>
  <li><%=image_tag(@item.avatar_url(:thumb).to_s)%></li>
  </div>
  <% if current_user.try(:admin?)%>
  <p><%=button_to "Edit", edit_item_path,  method: :get%></p>
  <%end%>
</ul>>
