<h1>Categories:</h1>


<% if @categories.empty? %>
    <b>No categories in store</b>
    <p><%= link_to "Add category", new_category_path  %></p>
<%else%>
    <p><%= link_to "Add category", new_category_path  %></p>
    <table class="table table-bordered table-condensed table-striped">
      <tr>
        <th>Category name</th>
        <th></th>
        <th></th>
      </tr>

      <%  @categories.each do |i| %>
          <tr>
            <td><%= i.category_name %></td>
            <td><%= link_to "Edit", edit_category_path(i) %></td>
            <td><%= link_to "Delete", i, method: :delete, data: { confirm: "Are you sure?"} %></td>
          </tr>
          <%end%>

    </table>
<%end%>